@charset "UTF-8";
/* CSS Document */


#container {
	height: 500px;
	width: 500px;
	border: 1px solid black;
	overflow: none;
	position: relative;
}

	#overlay {
		background: rgba(0,0,0,.5);
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		display:none;
		z-index: 9;
	}

	.marker {
		height: 50px;
		width: 50px;
		background-color: green;
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 0;
		z-index: 50;
	}
		#section1 {
			position: absolute;
			top: 20px;
			left: 20px;
		}
			#marker1 {
				position: absolute;
				top: 0;
				left: 0;
			}

		#section2 {
			position: absolute;
			top: 20px;
			right: 20px;
		}
			#marker2 {
				position: absolute;
				top: 0;
				right: 0;
			}

		#section3 {
			position: absolute;
			bottom: 20px;
			left: 20px;
		}
			#marker3{
				position: absolute;
				bottom: 0;
				left: 0;
			}

		#section4 {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
			#marker4{
				position: absolute;
				bottom: 0;
				right: 0;
			}



		.line1 {
			display: none;
			background-color: blue;
			/* width: 50px; */
			/* height: 2px; */
			margin: 0;
			padding: 0;
			position: absolute;
			font-size: 0;
		}
		.line2 {
			display: none;
			background-color: red;
			/* width: 2px; */
			/* height: 50px; */
			margin: 0;
			padding: 0;
			position: absolute;
			font-size: 0;
		}
		.content {
			display: none;
			background-color: lightgray;
			width: 300px;
			margin: 0;
			position: absolute;
		}
			.content p {
				margin: 0;
			}
			.close {
				color: red;
			}
